:root {
  --black: #1b1b1d;
  --gray: #9dafbd;
  --white: #ffffff;
  --yellow: #ffb22c;
  --red: #d3223c;
  --cream: #fff2db;
  --lightgray: #d1dbe3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ire {
  color: var(--gray);
  background-color: var(--black);
  padding: 15px 10px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}

.nav {
  height: 70px;
  width: 100%;
  background-color: var(--black);
  position: relative;
  font-family: 'Roboto';
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 20px;
  color: var(--white);
  padding: 10px 10px 10px 10px;
  line-height: 60px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-size: 14px;
  color: var(--white);
}

.nav > .nav-links > a:hover,
.nav > .nav-header > .nav-title:hover,
#ire:hover {
  color: var(--red);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 90px auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}
.col-2 {
  width: calc(2 / 12 * 100%);
}
.col-3 {
  width: calc(3 / 12 * 100%);
}
.col-4 {
  width: calc(4 / 12 * 100%);
}
.col-5 {
  width: calc(5 / 12 * 100%);
}
.col-6 {
  width: calc(6 / 12 * 100%);
}
.col-7 {
  width: calc(7 / 12 * 100%);
}
.col-8 {
  width: calc(8 / 12 * 100%);
}
.col-9 {
  width: calc(9 / 12 * 100%);
}
.col-10 {
  width: calc(10 / 12 * 100%);
}
.col-11 {
  width: calc(11 / 12 * 100%);
}
.col-12 {
  width: calc(12 / 12 * 100%);
}

@media (min-width: 640px) {
  .col-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 1280px) {
  .col-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hidden {
  display: none;
}

.box1 {
  background-color: var(--yellow);
  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: var(--cream);
}

.content {
  padding-left: 20px;
  padding-top: 90px;
  padding-bottom: 90px;
}

span {
  color: var(--red);
}

.pic {
  /* height: 25em; */
  width: 100%;
  max-width: 951px;
  object-fit: cover;
  object-position: right;
}

h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* or 60px */

  letter-spacing: -0.025em;
  text-transform: capitalize;
}
p {
  color: var(--gray);
  max-width: 526px;
  font-family: 'roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 24.5px;
  padding-top: 24px;
}

.hero {
  display: flex;
  margin-top: 24px;
}
.btn-orange {
  display: flex;
  color: var(--white);
  background-color: var(--yellow);
  border: none;
  margin-right: 24px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  background: var(--yellow);
  border: 1px solid var(--yellow);
  box-shadow: 0px 10px 30px rgba(255, 178, 44, 0.3);
}

.hero p {
  font-family: 'roboto';
  font-weight: 400;
  line-height: 19.67px;
  padding-top: 0px;
  color: var(--black);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--yellow);
  background-color: var(--cream);
  font-size: 14px;
  width: 257px;
  height: 40px;
  margin-bottom: 24px;
}

#mainleft {
  background-color: white;
}

h2 {
  font-family: 'dm sans';
  text-transform: capitalize;
  font-size: 36px;
  line-height: 43.38px;
  font-weight: 700;
}

h2 span {
  color: var(--red);
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 175%;
  color: #9dafbd;
  margin-bottom: 16px;
}

#check {
  background-color: var(--yellow);
  color: white;
  padding: 5px 5px;
  margin-right: 20px;
}

h3 {
  font-family: 'roboto';
  font-size: 18px;
  font-weight: 700;
}

#checkp {
  margin-left: 44px;
  margin-top: 16px;
  padding-top: 0;
}

main {
  padding: 20px;
}
.main2 {
  /* justify-content: left;
  align-items: start;
  display: flex;
  background-color: white; */
  background-image: url('./images/foods.jpg');
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  /* height: 0; */
  height: 30em;
  /* padding-bottom: 56.25%; */
}

main .container {
  margin-bottom: 0;
}

#see {
  color: var(--yellow);
  position: absolute;
  top: 0;
  right: 0;
}

/* .provide {
  margin-bottom: 45px;
} */

#cards {
  margin-top: 0;
}

.card {
  margin: 0 auto;
  max-width: 312px;
}

.card > img {
  height: 197px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  /* max-width: 312px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body > button,
.tre > button {
  display: flex;
  color: var(--white);
  background-color: var(--yellow);
  border: none;
  padding: 15px 70px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  background: var(--yellow);
  border: 1px solid var(--yellow);
  box-shadow: 0px 10px 30px rgba(255, 178, 44, 0.3);
}

.col-md-4:nth-of-type(2) button {
  background-color: var(--red);
  border: 1px solid var(--red);
  box-shadow: 0px 10px 30px rgba(255, 104, 44, 0.3);
}

.m27 {
  margin-bottom: 27px;
}

.ps20 {
  padding-left: 20px;
}

.food1 {
  /* justify-content: left;
  align-items: start;
  display: flex;
  background-color: white; */
  background-image: url('./images/pexels-pixabay-262978.jpg');
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  /* height: 0; */
  height: 30em;

  /* padding-bottom: 56.25%; */
}

@media (min-width: 300px) and (max-width: 767px) {
  .container {
    margin: 0px;
  }
  .content,
  .provide {
    padding: 10px;
  }
  .pic {
    width: 100%;
  }
  #foods {
    width: 100%;
  }
  .main2,
  .food1 {
    height: 20em;
  }
  .cards {
    padding: 0;
  }
  .food1 {
    padding-left: 20px;
  }
  .see {
    display: none;
  }
  .ps20,
  .down {
    padding-left: 0;
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .ps20 {
    padding-left: 20px;
  }
}
@media (max-width: 1023px) {
  .pic {
    object-position: calc(2 / 3 * 100%);
    height: 25em;
  }
}
@media (max-width: 1400px) {
  .content,
  .provide,
  #cards,
  .food,
  .download {
    padding-left: 20px;
  }
  .pic {
    width: 100%;
  }
  #foods {
    width: 100%;
  }
}

.center {
  text-align: center;
}

#pad {
  padding-top: 106px;
}

.p106 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#con {
  margin-bottom: 0;
}

.cream {
  background-color: var(--cream);
  padding-top: 24px;
  padding-bottom: 104px;
}

.p0 {
  margin: 0px auto;
}

.tre {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  background-color: var(--white);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(35, 37, 40, 0.15);
  margin-bottom: 20px;
}

#using {
  margin-top: 20px;
  background-color: var(--red);
}
