:root {
  --black: #1b1b1d;
  --gray: #9dafbd;
  --white: #ffffff;
  --yellow: #ffb22c;
  --red: #d3223c;
  --cream: #fff2db;
  --lightgray: #d1dbe3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.top-nav {
  font-family: 'roboto';
  background-color: black;
  color: var(--white);
}

li,
a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: var(--white);
  font-size: 14px;
}

a:hover,
#ire button:hover {
  color: var(--red);
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  max-height: 107px;
}

#ire button {
  color: var(--gray);
  background-color: var(--black);
  padding: 15px 10px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  padding: 0 auto;
}

.img-logo {
  height: 50px;
  border-radius: 50%;
}

.logo div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 90px auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}
.col-2 {
  width: calc(2 / 12 * 100%);
}
.col-3 {
  width: calc(3 / 12 * 100%);
}
.col-4 {
  width: calc(4 / 12 * 100%);
}
.col-5 {
  width: calc(5 / 12 * 100%);
}
.col-6 {
  width: calc(6 / 12 * 100%);
}
.col-7 {
  width: calc(7 / 12 * 100%);
}
.col-8 {
  width: calc(8 / 12 * 100%);
}
.col-9 {
  width: calc(9 / 12 * 100%);
}
.col-10 {
  width: calc(10 / 12 * 100%);
}
.col-11 {
  width: calc(11 / 12 * 100%);
}
.col-12 {
  width: calc(12 / 12 * 100%);
}

@media (min-width: 640px) {
  .col-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media (min-width: 1280px) {
  .col-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hidden {
  display: none;
}

.box1 {
  background-color: var(--yellow);
  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: var(--cream);
}

.content {
  padding-left: calc(3 / 9 * 100%);
  /* padding-left: 711px;
  padding-top: 185px; */
  padding-top: 90px;
  padding-bottom: 90px;
}

span {
  color: var(--red);
}

.pic {
  height: 25em;
  object-fit: cover;
}

.content h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* or 60px */

  letter-spacing: -0.025em;
  text-transform: capitalize;
}
.content p {
  color: var(--gray);
  max-width: 526px;
  font-family: 'roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 24.5px;
  padding-top: 24px;
}

.hero {
  display: flex;
  margin-top: 24px;
}
.hero button {
  display: flex;
  color: var(--white);
  background-color: var(--yellow);
  border: none;
  margin-right: 24px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  background: var(--yellow);
  border: 1px solid var(--yellow);
  box-shadow: 0px 10px 30px rgba(255, 178, 44, 0.3);
}

.hero p {
  font-family: 'roboto';
  font-weight: 400;
  line-height: 19.67px;
  padding-top: 0px;
  color: var(--black);
}

@media (max-width: 768px) {
  .container {
    margin: 0px;
  }
  .content {
    padding: 10px;
  }
  .pic {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .content {
    padding: 20px;
  }
  .pic {
    width: 100%;
  }
}
